<h1>Books</h1>

<% @books.each do |book| %>
<dvi>
  <%= link_to book_path(book.id) do %>
    <%= profile_image_tag user.get_image %>
  <% end %>
  <p>title:<%= link_to book.title, book_path(list.id) %></p>
</dvi>

<% end %>