<h1>welcome to <strong>Bookers !!</strong></h1>
<p>In <strong>Bookers,</strong><br>
you can share and exchange your opinions, inpressions, and emotions<br>
about various books!</p>

<p></p>
<%= link_to "Log in", user_session_path %>

<p></p>
<%= link_to "Sign up", user_registration_path %>